//Local variables are precisely those POSTed to /dailyDrinkReport
//#{email}
//...

!!! 5
html(lang="en")
  head
    title Goonbuggy Drinking Report
  body
    h1 Wow, what a night!
    ul
      li your email: #{email}
